version: "3.9"

services:
  web:
    build: .
    container_name: flask_web
    command: flask run --host=0.0.0.0 --port=5000
    ports:
      - "5001:5000"  
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=postgresql+psycopg://user:password@db:5432/flaskdb
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: flask_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: flaskdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
